<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">New Hotel</h1>
    <form action="/hotels" method="post" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label temp" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="hotel[title]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label temp" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="hotel[location]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <!-- <div class="mb-3">
            <label class="form-label" for="image">Image URL</label>
            <input class="form-control" type="text" id="image" name="hotel[image]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div> -->

        <div class="mb-3">
            <label class="form-label temp" for="image">Add Images</label>
            <input type="file" class="temp" name="image" id="image" multiple>
        </div>

        <!-- <input type="file" name="image" id="" multiple> -->

        <div class="mb-3">
            <label class="form-label temp" for="price">Hotel Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price">Rs </span>
                <input type="text" class="form-control" id="price" name="hotel[price]" placeholder="0.00" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label temp" for="description">Description</label>
            <textarea class="form-control" type="text" id="description" name="hotel[description]" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div mb-3>
            <button class="btn btn-success">Add Hotel</button>
        </div>
    </form>
</div>

